<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="../public/css/style.css">
      <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
      
      <script src="../public/js/jquery.slim.min.js"></script>
      <script src="../public/js/mark-your-calendar.js"></script>
      <title>Dotor Hours</title>
   </head>

   <body class="cal-bg">
      <div class="container">
         <div id="picker">
         </div>
         <div>
            <div style="display: none;" id="selected-dates">
               <p id=dateTime></p>
            </div>
         </div>
      </div>

      <button class="makeApptBtn" onclick="previewAppt()">Submit</button>
   </body>

   <div class='apptPreview'>
      <div class='modalContentA'>
          <div id="preview">
              <h3>Summary</h3>
              <ul id="summaryAppt">
                  <li id="doctorName"><b>Doctor:</b> </li>
                  <li id="datetime"><b>Appointment Time:</b> </li>
              </ul>
              <button onclick="finishAppt()">Next</button>
          </div>
        <span class="close">+</span>
      </div>
  </div>

   <script src="../public/js/previewActions.js"></script>
   <script>
      (function($) {
         $('#picker').markyourcalendar({
            availability: [
            ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
            ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
            ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
            ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
            ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
            ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
            ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00']
            ],
            isMultiple: false,
            onClick: function(ev, data) {
              // data is a list of datetimes
              console.log(data);
              var html = ``;
              $.each(data, function() {
                var d = this.split(' ')[0];
                var t = this.split(' ')[1];
                html += `<p id='dateTime'>` + d + ` ` + t + `</p>`;
              });
              $('#selected-dates').html(html);
            },
            onClickNavigator: function(ev, instance) {
               var arr = [
               [
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00']
               ],
               [
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00']
               ],
               [
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00']
               ],
               [
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00']
               ],
               [
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00']
               ],
               [
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00']
               ],
               [
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00'],
                  ['8:00', '9:00', '10:00', '11:00', '12:00', '1:00', '2:00', '3:00', '4:00', '5:00', '6:00', '7:00']
               ]
            ]
              var rn = Math.floor(Math.random() * 10) % 7;
              instance.setAvailability(arr[rn]);
            }
         });
      })(jQuery);
   function previewAppt() {
      const patient_id = '<%= JSON.stringify(patientID) %>'
      const queryString = window.location.search
      const urlParams = new URLSearchParams(queryString)
      const docName = urlParams.get('name')
      const dateTime = document.getElementById('dateTime').innerHTML
   
      document.getElementById('doctorName').innerHTML += docName;
      document.getElementById('datetime').innerHTML += dateTime;
   }
   function finishAppt() {
      const patient_id = '<%= JSON.stringify(patientID) %>'
      const queryString = window.location.search
      const urlParams = new URLSearchParams(queryString)
      const docName = urlParams.get('name')
      const dateTime = document.getElementById('dateTime').innerHTML
      console.log(patient_id + " " + docName + " " + dateTime)
      window.location = '/index?docName=' + docName + '&dateTime=' + dateTime;
   }
   </script>
</html>